In [3]:
a = [1, 3, 4, 5]  #리스트 = 배열
b = {"name":"가나다", "age":34} #딕셔너리 = JSON HashMap<Key, Value>
c = (1, 2, 4, 7, 9) #튜플 = 값을 변경할 수 없음
d = {1, 2, 2, 3}  #셋(집합) 중복제거

print(a)
print(b)
print(c)
print(d)

[1, 3, 4, 5]
{'name': '가나다', 'age': 34}
(1, 2, 4, 7, 9)
{1, 2, 3}

In [5]:
a = [ (1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12) ]
print(type(a))
print(type(a[2]))

<class 'list'>
<class 'tuple'>

In [7]:
a = [ {"name":"가","age":4}, {"name":"가","age":4} ]
print(type(a))
print(type(a[1]))
print(a[1]["age"]) #41

<class 'list'>
<class 'dict'>
4

In [9]:
a = {"data": "abc", "member":[ {"name":"가","age":4}, {"name":"가1","age":41} ]}
b = a["member"] #리스트
c = b[0]  #딕셔너리

# 이름 "가"와 "가1"을 출력하세요.
print(type(a))
print(c["name"])

print(a["member"][0]["name"])

<class 'dict'>
가
가

In [11]:
# 3. 환경변수에 PATH 추가하기
import os
# path = 'C:\\instantclient_19_10'  #윈도우 방식의 구조
# path = 'C:/instantclient_19_10'   #리눅스 계열의 방식
path = r'C:\instantclient_19_10'    #raw로 하면 \
    
os.environ["PATH"] = path + ";" + os.environ["PATH"]
# os.environ["PATH"]

In [13]:
import cx_Oracle as ora  # 라이브러리 추가한후 ora로 변경
# 아이디/암호@서버주소:포트번호/SID
conn = ora.connect('id100/pw100@1.234.5.158:11521/xe')
conn

In [25]:
# 오라클 DB에 추가하기
# INSERT, UPDATE, DELETE 수행
cursor = conn.cursor()
sql = """
        INSERT INTO BOARDTBL(BRDNO, BRDTITLE, BRDCONTENT, BRDHIT, BRDWRITER, BRDDATE)
        VALUES( :1, :2, :3, :4, :5, CURRENT_DATE)
      """

arr = [44, '제목',  '내용', 1, '작성자']
cursor.execute(sql, arr)
conn.commit()

IntegrityError: ORA-00001: unique constraint (ID100.BOARDTBL_PK) violated

In [26]:
# INSERT, UPDATE, DELETE 수행
# UPDATE 테이블명 SET  컬럼명=변경값, 컬럼명=변경값 WHERE 컬럼명=조건
# DELETE FROM 테이블명 WHERE 컬럼명=조건
cursor = conn.cursor()
sql = """
        INSERT INTO BOARDTBL(BRDNO, BRDTITLE, BRDCONTENT, BRDHIT, BRDWRITER, BRDDATE)
        VALUES( :no, :ti, :co, :hi, :wr, CURRENT_DATE)
      """
cursor.execute(sql, no=47, ti='제목1', co='내용2', hi=3, wr='작성자3')
conn.commit()

IntegrityError: ORA-00001: unique constraint (ID100.BOARDTBL_PK) violated

In [34]:
import requests
import json

url = "http://ihongss.com/json/exam2.json"
data = requests.get(url).text
print(data)
print(type(data))

#str -> list
data1 = json.loads(data)
print(data1)
print(type(data1))

[{"ret":"y1","data":"123"},{"ret":"y2","data":"234"}]
<class 'str'>
[{'ret': 'y1', 'data': '123'}, {'ret': 'y2', 'data': '234'}]
<class 'list'>

In [29]:
# [{'ret': 'y1', 'data': '123'}, {'ret': 'y2', 'data': '234'}]
# [['y1', 123], ['y2', 234]]

data2 = []
for i in data1: #2번 회전
    print(i, type(i))
    # [ 1, 2 ]
    data2.append( [i['ret'], int(i['data'])])    
data2

{'ret': 'y1', 'data': '123'} <class 'dict'>
{'ret': 'y2', 'data': '234'} <class 'dict'>

[['y1', 123], ['y2', 234]]

In [30]:
import csv

# 저장위치, w, r, a, utf-8, euc-kr
file = open('csv/20210518_1103.csv', 'w', 
            encoding='utf-8', newline='')
wr = csv.writer(file)

wr.writerow(['ret', 'data'])
for i in data2:
    wr.writerow(i)
    
file.close()

In [31]:
import csv

# 읽을위치, w, r, a, utf-8, euc-kr
file = open('csv/20210518_1103.csv', 'r',  encoding='utf-8', newline='')
rd = csv.reader(file)
next(rd, None) #한줄 skip
for i in rd:
    print(i)
    
file.close()

['y1', '123']
['y2', '234']

In [35]:
import requests
import json
import csv

url = "http://ihongss.com/json/exam7.json"
data = requests.get(url).text
data1 = json.loads(data)

a = []
for i in data1["data"]:
    print(i) 
    #{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}
    a.append([ i.get('id'), i.get('name'),i.get("age"), i.get("height"), i.get("weight")])
    
file = open('csv/20210518_ex01.csv', 'w', encoding='utf-8', newline='')
wr = csv.writer(file)
wr.writerow(['id', 'name', "age", "height","weight"])
for i in a:
    wr.writerow(i)
    
file.close()

{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}
{'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}
{'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}
{'id': 'd', 'name': '가나다4', 'age': 44, 'height': 165.7, 'weight': 44.5}
{'id': 'e', 'name': '가나다5', 'age': 85, 'height': 165.2, 'weight': 42.3}

In [38]:
import requests
import json

url = "http://ihongss.com/json/exam7.json"
data = requests.get(url).text
print(data)
print(type(data))

#str -> list
data1 = json.loads(data)
print(data1)
print(type(data1))

{"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},{"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},{"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},{"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},{"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}
<class 'str'>
{'ret': 'y', 'data': [{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}, {'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}, {'id': 'd', 'name': '가나다4', 'age': 44, 'height': 165.7, 'weight': 44.5}, {'id': 'e', 'name': '가나다5', 'age': 85, 'height': 165.2, 'weight': 42.3}]}
<class 'dict'>