In [1]:
a = [1, 3, 4, 5]  #리스트 = 배열
b = {"name":"가나다", "age":34} #딕셔너리 = JSON HashMap<Key, Value>
c = (1, 2, 4, 7, 9) #튜플 = 값을 변경할 수 없음
d = {1, 2, 2, 3}  #셋(집합) 중복제거

print(a)
print(b)
print(c)
print(d)

[1, 3, 4, 5]
{'name': '가나다', 'age': 34}
(1, 2, 4, 7, 9)
{1, 2, 3}

In [3]:
a = [1,2,3,4,5] #리스트 = 배열
b = {"name":"가나다", "age":34}  #딕셔너리 = JSON HashMap<Key, Value>
c = (1,2,4,7,9) #튜플 = 값을 변경할 수 없음
d = {1,2,2,2,5} #셋(집합) 중복제거

print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4, 5]
{'name': '가나다', 'age': 34}
(1, 2, 4, 7, 9)
{1, 2, 5}

In [ ]:
a = [1,2,3,4,5]
b = {"name":"가나다", "age"}

In [31]:
a = {"data": "abc", "member":[ {"name":"가","age":4}, {"name":"나","age":41} ]}

b = a["member"] #리스트
c = b[0] #딕셔너리

#이름 "가"와 "나"를 출력하세요.
print(type(a))
print(c["name"])

print(a["member"][0]["name"])

<class 'dict'>
가
가

In [25]:
b[0]

{'name': '가', 'age': 4}

In [34]:
b[1]

{'name': '나', 'age': 41}